/* DEFAULT VALUE */

:root{
    --blue:rgb(87, 112, 255);
    --pink:rgb(255, 117, 179);
    --red:rgb(255, 124, 107);
    --dark: #23252e;
    --grey:#2c2e39;
    --yellow: #FFD15C;
}

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Product Sans', sans-serif;
}

@font-face {
    font-family: "iaQuattro";
    src: url("assets/font/iAWriterQuattroS-Regular.woff") format('woff');
}

@font-face {
    font-family: "iaQuattro";
    src: url("assets/font/iAWriterQuattroS-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "iaQuattro";
    src: url("assets/font/iAWriterQuattroS-Italic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "iaQuattro";
    src: url("assets/font/iAWriterQuattroS-BoldItalic.woff") format('woff');
    font-style: italic;
}

body { background-color: var(--grey); }

#h1title{ margin: 0; font-weight: 600; }

h4{
    color: white;
    font-weight: 700;
    padding: 2% 0;
    margin: 0;
    font-size: large;
}

p{ margin-bottom: 5px; }

a{ 
    color: white; 
    transition: 0.3s;
}

a:visited { color: white; }

a:hover { 
    color: var(--yellow) !important;
    text-decoration: none;
}

span{
    font-weight: 600;
    text-decoration: underline  ;
}

/* HEADER */

header{
    margin: 25px 0;
    color: white;
}

/* COLORBAR */

.Colorbar{
    background: linear-gradient(135deg, var(--blue) 0, var(--pink) 60%, var(--red) 100%);
    height: 7px;
}

/* NAVBAR */

#before-container{
    background-color: var(--dark);
    font-weight: 600;
    font-size: 1.1rem;
}

.nav{
    justify-content: space-around;
    
}

.navbar-collapse{
    padding: 10px 0;
    justify-content: space-around;
}

.nav-item{
    padding: 0 4.5rem !important;
    color:white !important;
}

/* MAIN */

div.row{
    text-align: center;
    padding: 3% 0;
}

.btn {
    width: 300px;
    height: 6rem;
    font-size: large;
    border: 0;
    color: var(--dark);
    background-color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.2s ease 0s;
    border: 4px solid rgba(0,0,0,0.1);
    box-shadow: 2px 2px 10px #111 !important;

}

.btn:hover {
    color:white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn:focus {
    box-shadow: 2px 2px 10px #111 !important;
}

img {
    margin-right: 15px;
}

/* FOOTER */

footer{
    color: white;
    text-align: center;
    padding: 20px;
}

/* MODAL */

.modal-title{
    text-align: center;
    width: 100%;
    font-size: x-large;
    font-weight: 600;
}

.modal-center{
    width: 100%;
}

.modal-content{
    background-color: var(--grey);
    color: white;
}

.modal-header {
    font-size: small;
    border:0;
}

.modal-header .close{
    margin: 0;
    padding: 0;
    color: white;
}

.modal-body {
    background-color: var(--grey);
    padding: 1rem;
}

.modal-title-blue{ color: var(--blue); }
.modal-blue, .blue:hover{ background-color: var(--blue); }
.modal-content-blue{ box-shadow: 0px 5px 20px 0px rgba(87, 112, 255, 0.5); }

.modal-title-pink{ color: var(--pink); }
.modal-pink, .pink:hover{ background-color: var(--pink); }
.modal-content-pink{ box-shadow: 0px 5px 20px 0px rgba(255, 117, 179, 0.5); }

.modal-title-red{ color: var(--red); }
.modal-red, .red:hover{ background-color: var(--red);}
.modal-content-red{ box-shadow: 0px 5px 20px 0px rgba(255, 124, 107, 0.5); }

.fadee {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.25s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
    }
}


/* MEDIA QUERRIES */

@media only screen and (max-width: 991px) {
    div.row{
        padding: 0;
    }
    
    .btn {
        height: 4rem;
        margin-bottom: 10px;
    }

    .Colorbar{
        margin-bottom: 30px;
    }
}
