/* DEFAULT VALUE */

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    font-family: 'Product Sans';
}

@font-face {
    font-family: "iaQuattro";
    src: url("../assets/font/iAWriterQuattroS-Regular.woff") format('woff');
}

@font-face {
    font-family: "iaQuattro";
    src: url("../assets/font/iAWriterQuattroS-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "iaQuattro";
    src: url("../assets/font/iAWriterQuattroS-Italic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "iaQuattro";
    src: url("../assets/font/iAWriterQuattroS-BoldItalic.woff") format('woff');
    font-style: italic;
}
body { background-color: #2c2e39; }


#h1title{ margin: 0; font-weight: 600; }

h4{
    color:rgb(255, 124, 107);;
    font-weight: 700;
    padding: 20px 0;
    margin: 0;
}

p{ margin-bottom: 5px; }

span{ font-weight: 500; }

a{ 
    color: white; 
    transition: 0.3s;
}

a:visited { color: #FFF; }

a:hover { 
    color: #FFD15C !important;
    text-decoration: none;
}

/* HEADER */

header{
    margin: 25px 0;
    color: white;
}

/* COLORBAR */

.Colorbar{
    background: linear-gradient(135deg, rgb(87, 112, 255) 0, rgb(255, 117, 179) 60%, rgb(255, 124, 107) 100%);
    height: 7px;
    margin-bottom: 30px;
}

/* NAVBAR */

#before-container{
    background-color: #23252e;
    font-weight: 600;
    font-size: 1.1rem;
}

.nav{
    justify-content: space-around;
    
}

.navbar-collapse{
    padding: 10px 0;
    justify-content: space-around;
}

.nav-item{
    padding: 0 4.5rem !important;
    color:white !important;
}

/* MAIN */

.container{
    color: white;
}

#container-header{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 124, 107);;
    box-shadow: 0px 5px 20px 0px rgba(255, 124, 107, 0.5);
}

#container-title{
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    font-weight: 600;
}

#container-body{
    padding: 20px;  
    background-color: #23252e;
    box-shadow: 0px 5px 20px 0px rgba(255, 124, 107, 0.5);
}

/* FOOTER */

footer{
    color: white;
    text-align: center;
    padding: 20px;
}

/* MEDIA QUERRIES */

@media only screen and (max-width: 991px) {
    #separation{
        margin-bottom: 40px;
    }
}

